.information {
    position: absolute;
    top: 270px;
    left: 150px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #16d129bb;
    width: 300px;
    height: 310px;}