.week-comment-box {
    position: absolute;
    top: 270px;
    left: 150px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #16d129bb;
    width: 300px;
    height: 310px;
  }

h2 {
    position: absolute;
    top:-10px
}  
#adminComment {
    width: 100%;
    height: 300px;

    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

.logo {
    position: absolute;
    top: 8px;
    left: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-right: 25px;
    padding-left: 20px;
    

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;



    
    
}

h3 {
    text-align: center;
    font-size: 30px;
   
}
.placeholder {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 350px; 
    margin: 20px auto; 
    height: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    box-sizing: border-box;
}


/* Styling för knappen */


#checkButton.check-out {
    background-color: #dc3545; /* Röd bakgrund för utcheckning */
}

#checkButton:hover {
    background-color: #218838; /* Mörkare grön vid hover */
}

#checkButton.check-out:hover {
    background-color: #c82333;
}
textarea#messageBox {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif;
}

textarea#messageBox:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 20px;
    width: 85%;
    border-radius: 10px;
   
}
select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    ;
}

.check-in {
    background-color: rgb(10, 132, 8);
    color: white;
    
  }
  .check-out {
    background-color: rgb(233, 32, 10);
    color: white;
  }

 
  .checked-in-list {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    width: 250px;
    min-height: 80px;
     
  }
  #checkInList li{
    list-style-type: none;
  }
  
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.large-text {
    font-size: 24px;
    font-weight: bold;
}


