<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Sida - Deltagare</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/admin.js"></script>
  <link rel="stylesheet" href="../static/admin.css">
</head>

<body>

  <div class="admin-header">
    
    <a href="index.html" class="btn">Gå till första sidan</a>
  </div>

  <div class="admin-container">
    
    <!-- Deltagarlista -->
    <div class="user-list-section">
      <h2>PARTCIPANT'S LIST</h2>
      <table id="userTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Åtgärder</th>
          </tr>
        </thead>
        <tbody>
          <!-- Deltagare kommer att läggas till här dynamiskt -->
        </tbody>
      </table>
    </div>

    <!-- add partcipant -->
    <div class="add-user-section">
      <h2>Lägg till ny deltagare</h2>
      <form id="addUserForm">
        <label for="addUserName">Namn:</label>
        <input type="text" id="addUserName" required>
        <button type="submit" class="btn">Lägg till deltagare</button>
      </form>
    </div>

    <!-- edit partcipant(modal) -->
    <div id="editUserModal" class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Redigera deltagare</h2>
        <form id="editUserForm">
          <input type="hidden" id="editUserId">
          <label for="editUserName">Namn:</label>
          <input type="text" id="editUserName" required>
          <button type="submit" class="btn">Spara ändringar</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
