<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin - re:conomy</title>
  <a href="index.html"></a>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="adminstyle.css">

</head>

<body>

  <div class="admin-container">
   
    <!-- Skapa en knapp för att gå till indexsidan -->
    <button id="goToIndexBtn">Gå till re:conomy</button>
  </div>

  <script>    
  function toggleCheckInOut() {
    // Lägg till din check-in/check-out logik här
    console.log("Check-In/Out funktion körs.");
}


    document.getElementById("goToIndexBtn").addEventListener("click", function() {
        // Kör funktionen när knappen klickas
        toggleCheckInOut();

        // Navigera till index.html
        window.location.href = "index.html";
    });
  </script>
<div class="container">
    
  <!-- Veckokommentar box -->
  <div class="information">
    <h2 id="weekNumber"></h2>  <!-- Veckonumret kommer att visas här -->
    <h4>Viktig information</h4>
    
  </div>
</body>
</html>
