<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/index.js"></script>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <img src="../static/reconomy-logo.png" alt="" width="500" class="logo" >
      <br>
      <h2>Check In and Out</h2>
      <div class="placeholder" id="placeholder">
          <select id="nameList" name="option" onchange="updateButtonText()">
            <option value='' disabled selected>Select a name</option>
            <option value="John Doe">John Doe</option>
            <option value="Jane Smith">Jane Smith</option>
            <option value="Alice Johnson">Alice Johnson</option>
            <option value="Bob Brown">Bob Brown</option>
          </select>
          <button id="checkButton" class="check-in" onclick="toggleCheckInOut()">Check In</button>
          <div id="status"></div>
      </div>
    </div>
    <div class="checked-in-list">
      <h2>Checked In Today</h2>
      <ul id="checkInList"></ul>
    </div>
  </div>

  <footer>
    <div id="dateTime" class="large-text"></div>
  </footer>
</body>
</html>
