<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/index.js"></script>
</head>
<body>

 

  <div class="container">
    
    <!-- Veckokommentar box -->
    <div class="week-comment-box">
      <h2 id="weekNumber"></h2>  <!-- Veckonumret kommer att visas här -->
      <h4>Viktig information</h4>
      
    </div>

 

  <div class="container">
    <div class="form-container">
      <img src="../static/reconomy-logo.png" alt="" width="500" class="logo" >
      <br>
      <h3>Incheckning och Utcheckning</h3>
      <div class="placeholder" id="placeholder">
          <select id="nameList" name="option" onchange="updateButtonText()">
            <option value='' disabled selected>Välj namn</option>1
            {% for i in user %}
            <option value={{i}}>{{i}}</option>
            {%endfor%}
          </select>
          <textarea id="messageBox" placeholder="Skriv ditt meddelande "></textarea>
          <button id="checkButton" class="check-in" onclick="toggleCheckaInUt()">Checka in</button>
          <div id="status"></div>
      </div>
    </div>
    
  
  <footer>
    <div id="dateTime" class="large-text"></div>
  </footer>
</body>
</html>
